# Legacy Android
bin/
gen/

# Android Studio
.gradle
local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/artifacts
build
.idea/misc.xml
AlkitabIntegration/*.iml
AlkitabIo/*.iml
AlkitabModel/*.iml
AlkitabYes2/*.iml
BiblePlus/*.iml
ImportedDesktopVerseUtil/*.iml
KpriModel/*.iml
.idea/copyright/profiles_settings.xml

# according to https://intellij-support.jetbrains.com/entries/23393067
/.idea/libraries/*.xml
/.idea/gradle.xml

# Mac
.DS_Store

